@font-face {
    font-family: "DSEG7";
    src: url("DSEG7Modern-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f9f7a9;
    display: flex;
    justify-content: center;
}

#calculator {
    background-color: #99c9df;
    width: 400px;
    height: 500px;
    margin-top: 100px;
    border: 1px solid 94ecfd;
    border-radius: 10px;
    box-shadow: 5px 5px #49819a;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

#display {
    background-color: #49819a;
    font-family: 'DSEG7';
    font-size: 60px;
    text-align: end;
    width: 100%;
    margin: 0px 15px;
    height: 70px;
    position: relative;
}

#display-bg{
    color: #2e5160;
    opacity: 0.4;
}

#display-fg{
    color: #122026;
    position: absolute;
    top: 0px;
    width: 100%;
}

#buttons {
    height: 360px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5px;
}

button {
    background-color: #c6dbe4;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: #f9f7a9;
}

button:active {
    background-color: #eeeb90;
    position: relative;
    top: 1px;
}